*
{
    
    box-sizing: border-box;
}

body
{
    max-width: 100vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 12px;
    background: #001438;
}


h1, h2, p{
margin : 0; // pour enlever les de tous les cotés 
margin-top :0; // pour seulement enlever la marge supérieur
}





  /* footer */
  footer {
    color: #fff;
    text-align: center;
    padding: 20px;
  }


footer
{
    color: #ffffff;
    text-align: center;
    padding: 20px;
}








